.interests {
  display: flex;
  flex-direction: row;
  padding: 1.4em 0 1.4em 0;
  margin: 0;
  width: calc(100% / 3);
}
.interest-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.interest {
  display: flex;
  flex-direction: column;
  min-width: 120px;
  margin: 1em;
  padding: 0;
  vertical-align: top;
}

/* MOBILE */
@media only screen and (max-width: 800px) {
  .interests {
    width: 100%;
    padding: 2em;
  }

  .interest {
    width: calc(100% / 3);
    max-width: 100px;
    display: inline-block;
    margin: 0;
    padding: 0.4em;
    vertical-align: top;
  }
}
