.about-section {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.graduation-photo {
  max-width: 100%;
  width: 350px;
  max-height: 500px;
}
.caption {
  width: 350px;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  font-style: italic;
  font-weight: 600;
  color: var(--secondary-color);
}
.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MOBILE */
@media only screen and (max-width: 800px) {
  .about-section {
    width: 100%;
  }
}
