.photo-container {
  vertical-align: top;
  display: inline-block;
  width: calc(100% / 3);
  padding: 2em 1em 2em 0;
  margin: 0;
}

.info-container {
  vertical-align: top;
  display: inline-block;
  width: calc((100% / 3) * 2);
  padding: 2em 0 2em 1em;
  margin: 0;
}

.section,
.section-title {
  width: 100%;
  padding: 0;
  margin-bottom: 1rem;
}

.section-title {
  border-top: #5a5a5a 3px solid;
  padding-top: 2rem;
}

.row {
  padding: 1rem;
  margin: 0;
}

.col {
  vertical-align: top;
  display: inline-block;
  width: calc(100% / 8);
  margin: 0;
  padding: 1em;
}

.col.lg {
  width: calc((100% / 8) * 7);
}

.line-separation {
  border-bottom: #aaaaaa 2px solid;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.sidebar {
  background-color: #005088;
  color: #fff;
  position: fixed;
  top: 5em;
  left: 0;
  padding: 2em;
  vertical-align: middle;
  z-index: 999;
  opacity: 0;
}

.sidebar-item {
  font-size: 2em;
  line-height: 2em;
}
.white {
  color: #bbbbbb;
}
.white:hover {
  color: #ffffff;
}

/* MOBILE */
@media only screen and (max-width: 800px) {
  .photo-container {
    vertical-align: top;
    display: inline-block;
    width: 70%;
    padding: 1em;
    margin: 0 15% 0 15%;
  }

  .info-container {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    padding: 0 1em 1em 1em;
    margin: 0;
  }

  .section-title {
    text-align: center;
  }

  .col {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    padding: 1em;
    margin: 0 25% 0 25%;
  }

  .col.lg {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    padding: 1em;
    margin: 0;
  }

  .sidebar {
    visibility: hidden;
    display: none;
  }
}

.show-sidebar {
  animation: fadeIn reappear ease 0.2s forwards;
  -webkit-animation: fadeIn ease 0.2s forwards;
  -moz-animation: fadeIn ease 0.2s forwards;
  -o-animation: fadeIn ease 0.2s forwards;
  -ms-animation: fadeIn ease 0.2s forwards;
}

.hide-sidebar {
  animation: fadeOut disappear ease 0.2s forwards;
  -webkit-animation: fadeOut ease 0.4s forwards;
  -moz-animation: fadeOut ease 0.4s forwards;
  -o-animation: fadeOut ease 0.4s forwards;
  -ms-animation: fadeOut ease 0.4s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
