@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap");

.tools-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}
.tools-text {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  margin: 0;
  padding-right: 1em;
  justify-content: space-evenly;
}
.tools-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc((100% / 3) * 2);
  margin: 0;
  padding: 1em;
  justify-content: space-evenly;
}
.tool {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  margin: 0;
  padding: 1.5em;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.tool-image {
  max-height: 50px;
  max-height: 50px;
  margin: 5px 0 15px 0;
  padding: 0;
}
.intro-container {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.hero-text {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  align-items: flex-start;
  line-height: clamp(40px, 8vw, 80px);
}
.hero-image-container {
  margin: 20px auto;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
}
.hero-image {
  width: 500px;
  display: block;
  flex-direction: column;
  margin: 0 -25%;
}
.hero-heading {
  display: contents;
  overflow: auto;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}
.heading-large {
  font-size: clamp(40px, 8vw, 80px);
}
.heading-small {
  font-size: clamp(30px, 6vw, 50px);
  color: var(--light-color);
  font-weight: 900;
}
.hero-container {
  background-color: var(--primary-color);
  padding: 3rem;
  color: #ffffff;
  /* visibility: hidden; */
  vertical-align: top;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 100px);
  min-height: 600px;
  border-bottom-right-radius: 33%;
  border-bottom-left-radius: 66%;
}

.info-container {
  padding: 24px;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.page-title {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  padding: 1.5em 0 0.25em 0;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 1em;
}

.section-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 1em 0;
}

.section-title {
  align-items: flex-start;
}

.row {
  padding: 1rem;
  margin: 0;
}

.col {
  vertical-align: top;
  display: inline-block;
  width: calc(100% / 8);
  margin: 0;
  padding: 1em;
}

.col.lg {
  width: calc((100% / 8) * 7);
}

.line-separation {
  border-bottom: #aaaaaa 2px solid;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.sidebar {
  background-color: var(--light-color);
  color: #fff;
  position: fixed;
  left: 0;
  top: -500px;
  width: 100%;
  padding: 1em;
  vertical-align: middle;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar-item {
  font-size: 1.2em;
  line-height: 2em;
  padding: 0 2em;
}

.experience-image {
  display: flex;
  margin: auto;
  max-height: 60px;
  max-width: 75px;
}

/* MOBILE */
@media only screen and (max-width: 800px) {
  .tools-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding-right: 1em;
    justify-content: space-evenly;
  }
  .tools-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 1em;
    justify-content: space-evenly;
  }
  .tool {
    display: flex;
    flex-direction: column;
    width: calc(100% / 2);
    margin: 0;
    font-size: 1.2em;
  }

  .intro-container {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    height: auto;
  }
  .hero-container {
    background-color: var(--primary-color);
    padding: 1.5em;
    color: #ffffff;
    /* visibility: hidden; */
    vertical-align: top;
    flex-basis: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .info-container {
    vertical-align: top;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .section-title {
    text-align: center;
  }

  .col {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    padding: 1em;
    margin: 0 25% 0 25%;
  }

  .col.lg {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    padding: 1em;
    margin: 0;
  }

  .sidebar {
    visibility: hidden;
    display: none;
  }
}

.show-sidebar {
  animation: fadeIn reappear ease 0.2s forwards;
  -webkit-animation: fadeIn ease 0.2s forwards;
  -moz-animation: fadeIn ease 0.2s forwards;
  -o-animation: fadeIn ease 0.2s forwards;
  -ms-animation: fadeIn ease 0.2s forwards;
}

.hide-sidebar {
  animation: fadeOut disappear ease 0.2s forwards;
  -webkit-animation: fadeOut ease 0.2s forwards;
  -moz-animation: fadeOut ease 0.2s forwards;
  -o-animation: fadeOut ease 0.4s forwards;
  -ms-animation: fadeOut ease 0.4s forwards;
}

@keyframes fadeIn {
  0% {
    top: -500px;
  }
  100% {
    top: 0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    top: -500px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    top: -500px;
  }
  100% {
    top: 0;
  }
}

@-o-keyframes fadeIn {
  0% {
    top: -500px;
  }
  100% {
    top: 0;
  }
}

@-ms-keyframes fadeIn {
  0% {
    top: -500px;
  }
  100% {
    top: 0;
  }
}

@keyframes fadeOut {
  0% {
    top: 0;
  }
  100% {
    top: -500px;
  }
}

@-moz-keyframes fadeOut {
  0% {
    top: 0;
  }
  100% {
    top: -500px;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    top: 0;
  }
  100% {
    top: -500px;
  }
}

@-o-keyframes fadeOut {
  0% {
    top: 0;
  }
  100% {
    top: -500px;
  }
}

@-ms-keyframes fadeOut {
  0% {
    top: 0;
  }
  100% {
    top: -500px;
  }
}
