.navbar {
  background-color: #005088;
}

.navigation-inner {
  margin: auto;
  max-width: 1000px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-basis: auto;
  flex-wrap: wrap;
}
.nav-link {
  position: relative;
}
.nav-link:hover {
  color: #bbbbbb;
}

.navigation-logo {
  line-height: 3.2rem;
  font-size: 2rem;
  max-height: 3.2rem;
  color: #ffffff;
}

.nav-link:after {
  content: "";
  color: #bbbbbb;
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #ffffff;
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease;
}

.nav-link:hover:after {
  width: 100%;
  color: #bbbbbb;
  left: 0;
  background: #ffffff;
}

.nav-item {
  display: flex;
  padding: 1em;
}

.nav-link.active:after {
  width: 100%;
  color: #bbbbbb;
  left: 0;
  background: #ffffff;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.menu-toggle {
  display: none;
}

/* MOBILE */
@media only screen and (max-width: 800px) {
  .navbar {
    width: fit-content;
  }
  .menu-toggle {
    display: flex;
    align-items: center;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    flex-basis: 100%;
    /* display: none; */
  }
  .nav-items.open {
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
    /* display: visible; */
    max-height: 100vh;
    transition: max-height 0.3s ease-out;
  }
}

.menu-branding {
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 1em;
  text-decoration: none;
  color: #bcbcbc;
}

.nav-link.active {
  color: #ffffff;
}

.subitem .nav-link:hover {
  font-size: 1.2em;
}

.dropdown-content {
  margin: 5%;
  position: relative;
  background-color: #fff;
  box-shadow: none;
  z-index: 1;
}

/* Icon 1 */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  float: right;
}

.animated-icon1 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.animated-icon1 span {
  background: #ffffff;
}

.animated-icon1.open span {
  background: #ffffff;
}

.animated-icon2 span {
  background: #ffffff;
}

.animated-icon3 span {
  background: #ffffff;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
  background-color: #ffffff;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  background-color: #bcbcbc;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  background-color: #bcbcbc;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.strike {
  text-decoration: line-through;
}
