.academic {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.content {
  width: 50%;
  display: inline-block;
  margin: 0;
  padding: 1em;
  vertical-align: top;
}

.academic-image {
  width: 50%;
  display: inline-block;
  margin: 0;
  padding: 1em;
  float: right !important;
}

.accordion {
  padding: 0.6em;
  margin: 0 0 0.6em 0;
  background-color: #eeeeee;
}

.accordion-body {
  background-color: #ffffff;
  padding: 0.6em;
}

.accordion-header {
  background-color: #ffffff;
  padding: 0.2em;
  margin: 0 0 0.5em 0;
  border-radius: 2px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  line-height: 1.4em;
  font-size: 1.4em;
}

@media only screen and (max-width: 800px) {
  .content {
    width: 100%;
  }
  .academic-image {
    float: left;
    width: 100%;
  }
}
