.academic {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.portfolio-container {
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2em;
}
.portfolio-icon {
  display: flex;
  flex-direction: column;
  width: 80px;
}
.portfolio-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: #ffffff;
  min-height: 200px;
  margin: 1em;
  flex: 1;
  border-radius: 3px;
}

.portfolio-box:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.portfolio-box a {
  color: var(--off-white);
}

.portfolio-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: calc((100% / 3) - 1em);
}

@media only screen and (max-width: 800px) {
  .content {
    width: 100%;
  }
  .portfolio-container {
    flex-direction: column;
  }
  .portfolio-box,
  .portfolio-image {
    width: calc(100% - 2em);
    margin: 1em;
  }
}
